.notch {
  height: 40px;
  width: 60px;
  border-radius: 20%;
  background: whitesmoke;
  position: absolute;
  top: 5px;
  left: 5px;
  box-shadow: 0 0 5px whitesmoke;
  z-index: 1;
  transition: all 0.3s ease;
}

.income > .notch {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(85px, 0);
}
